# ------------------------
# Python artifacts
# ------------------------
__pycache__/
*.py[cod]
*.so
*.pyc

# ------------------------
# Jupyter Notebook checkpoints
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Output directories / logs
# ------------------------
output_*/
outputs_toy*/
toy_test*/
wnae_training*.log
output_full_*/
output_test_*/
temp_test*/

# ------------------------
# Configuration / local files
# ------------------------
*.yaml
*.yml
*.json

# ------------------------
# System files
# ------------------------
.DS_Store
*.swp
