h5py==3.13.0
importlib-metadata==8.6.1
ipykernel==6.29.5
jaraco.collections==5.1.0
pickleshare==0.7.5
pot==0.9.1
scikit-learn==1.6.1
seaborn==0.13.2
singleton==0.1.0
tomli==2.0.1
torch==2.1.0
tqdm==4.67.1
numpy==1.23.5
scipy==1.13.1
PyYAML==6.0
